.custom-gradient-custom {
    
    background: #6a11cb;
  
    
    background: -webkit-linear-gradient(to right, #FF8B5A,#01979B);
  
  
    background: linear-gradient(to right, #FF8B5A, #01979B)
  }

 