/* estilos.css */

.btn-outline-success {
    color: #01979B;
    background-color: #FF8B5A;
    border-color: #FF8B5A;
    font-size: large;
    font-weight: 500;
}

.navbar {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.btn-outline-success:hover {
    background-color: #01979B;
    color: #FF8B5A;
}
.btn-outline-success:active {
    background-color:#FF8B5A  !important;
    color: #01979B !important;
}


/* Estilos del dropdown antes de la animación */
.dropdown-menu {
    display: block; /* Asegura que el dropdown sea visible incluso antes de la animación */
    opacity: 0; /* Inicialmente, establece la opacidad en 0 para ocultar el dropdown */
    transform: translateY(-20px); /* Desplaza el dropdown hacia arriba para ocultarlo */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Agrega transiciones para suavizar la aparición/desaparición */
}

/* Estilos del dropdown durante la animación */
.dropdown-menu.show {
    opacity: 1; /* Cambia la opacidad a 1 durante la animación */
    transform: translateY(0); /* Desplaza el dropdown hacia abajo para mostrarlo */
}
.navbar-nav img {
    transition: transform 0.3s ease; /* Agrega una transición para suavizar el movimiento */
}

.navbar-nav img:hover {
    transform: translateY(-5px); /* Mueve la imagen hacia arriba al colocar el ratón sobre ella */
}
.navbar-brand img {
    transition: transform 0.3s ease; /* Agrega una transición para suavizar el movimiento */
}

.navbar-brand:hover img {
    transform: translateY(-5px); /* Mueve el logo hacia arriba al pasar el ratón sobre él */
}

button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: #FF8B5A;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    background-color:#21fa0d(236, 32%, 26%);
  }
  
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #FF8B5A;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
    color: #01979B;
  }
  
  button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }
  div {
    position: relative;
  }
  
  input {
    width: 6.5em;
    color: #000000;
    font-size: inherit;
    font-family: inherit;
    background-color: #FF8B5A(0, 0%, 98%);
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
  }
  
  input:focus {
    outline: none;
  }
  
  input::placeholder {
    color: #FF8B5A(0, 0%, 100%, 0.6);
  }
  
  span {
    position: absolute;
    background-color:#FF8B5A ;
    transition: transform 0.5s ease;
  }
  
  .bottom,
  .top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
  }
  
  .left,
  .right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
  }
  
  .bottom {
    bottom: 0;
    transform-origin: bottom right;
  }
  
  input:focus ~ .bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  
  .right {
    right: 0;
    transform-origin: top right;
  }
  
  input:focus ~ .right {
    transform-origin: bottom right;
    transform: scaleY(1);
  }
  
  .top {
    top: 0;
    transform-origin: top left;
  }
  
  input:focus ~ .top {
    transform-origin: top right;
    transform: scaleX(1);
  }
  
  .left {
    left: 0;
    transform-origin: bottom left;
  }
  
  input:focus ~ .left {
    transform-origin: top left;
    transform: scaleY(1);
  }
  